<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Welcome to VueJS</h1>

<div id="app">
    <label for="name">Name:</label>
    <input type="text" id="name" v-model="name">
    <br>
    <label for="age">Age:</label>
    <input type="text" id="age" v-model="age">
    <br>

    <textarea name="" id="" cols="30" rows="10"></textarea>
    Korisnik {{name}} ima {{age}} godina.

</div>


<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script>
    new Vue({
      el: "#app",
      data: {
        age: "",
        name: ""
      }
    });
</script>

</body>
</html>